:root {
  --nav-color: #fff;
  --nav-text: #464646;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700;800&display=swap');

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  font-family: 'Nunito', sans-serif;
  background-color: white;
  max-height: 89px;
  
}
.nav-mobile {
  background-color: white;
}

.nav-btn {
  padding: 1em;
  background: #d2120f;
  color: #fff;
  border: 1px solid #d2120f;
  border-radius: 8px;
}
.nav-home-link{
  color: var(--nav-text);
  text-decoration: none;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--nav-text);
  padding: 1em 2.5em;
}

.nav-link{
  text-decoration: none;
  color: var(--nav-text);
  display: block;
}
.nav--links li{
  list-style-type: none;
}

.nav-logo {
  align-items: center;
  display: flex;
}
.nav-logo--img {
  max-width: 25px;
  max-height: 25px;
  margin-right: 0.7em;
}
.nav-dropdown {
  max-width: 24px;
  max-height: 24px;
}
.nav-logo__text {
  font-family: 'Nunito';
  font-size: 1.3rem;
  color: var(--nav-text);
  font-weight: 800;
}
.nav--links li {
  text-align: center;
}
.nav--links li:nth-of-type(1){
  padding-top: 1em;

}
.nav-link {
  font-size: 1rem;
  padding: 0.9em 0;
  font-weight: 600;
}
.nav-desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .nav--links li:nth-of-type(1){
    padding-top: 0em;
  
  }
  .navbar-container {
    padding: 1em 5.5em;
  }
  .nav-mobile {
    display: none;
  }
  .nav-desktop {
    display: block;
  }
  .nav--links {
    display: flex;
    align-items: center;
    
  }
  .nav-link {
    font-size: 1.2rem;
    font-weight: 700;

    /* padding: 1em 0; */
  }
  .nav--links li:not(:last-of-type) {
    margin-right: 2.8em;
  }
  .nav-logo--img {
    max-width: 42px;
    max-height: 42px;
  }
  .nav-logo__text {
    font-size: 1.8rem;
  }
  .nav-dash-arrow {
    width: 14px;
    height: 7px;
    margin-right: 29px;
  }
  .nav-login {
    font-weight: 900;
    background: #d2120f;
    border: 1px solid #d2120f;
    border-radius: 8px;
    padding: 0.4em 1.6em;
    color: #fff;
    font-family: 'Nunito';
    font-size: 1.1rem;
  }
  .nav-profile {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color: red;
  }
  .nav-dash {
    display: flex;
    align-items: center;
  }
  .nav-link {
    padding: 0em 0;
  }
}
