:root {
  --sitem-1: #464646;
  --sitem-2: #04172a;
}
@font-face {
  font-family: 'Avenir';
  src: url('../../public/AvenirLTStd-Roman.otf');
}
@font-face {
  font-family: 'Avenir-light';
  src: url('../../public/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Avenir-bold';
  src: url('../../public/AvenirLTStd-Black.otf');
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: block;
}
.sitemap {
  margin: 1.8em 0 9em;
  font-family: 'Avenir', sans-serif;
  font-size: 0.85rem;
  padding: 2em;
  margin-top: 6em;
  width: 100%;
}
.hero--leading {
  font-weight: 850;
  font-size: 1.7rem;
  text-align: center;
  margin-bottom: 2.1em;
  color: var(--sitem-1);
}
.hero--img {
  text-align: center;
}
.hero--img img {
  width: 100%;
  height: 100%;
  max-width: 682px;
  max-height: 465px;
  margin: 0 auto;
}
.links-section {
  font-size: 0.85rem;
  margin-top: 2.5em;
}
.links--leading {
  font-size: 1.3rem;
  font-family: 'Avenir';
  font-weight: 600;
  color: var(--color-2);
  margin: 2em 0 0.9em;
}
.link {
  font-size: 1rem;
  color: var(--sitem-1);
}
.link:hover {
  color: #d2120f;
}
.link:not(:last-of-type) {
  margin-bottom: 0.54em;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .hero--leading {
    font-size: 1.7rem;
  }
  .links-section {
    font-size: 1rem;
    margin-top: 4em;
  }
  .links--leading {
    font-size: 1.3rem;
  }
  .link {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1024px) {
  .sitemap {
    padding-left: 5.5em;
    padding-right: 5.5em;
    margin-top: 9.2em;
    font-size: 0.85rem
  }
  .hero--leading {
    font-size: 4rem;
    margin-bottom: 0.8em;
  }
  .links--leading {
    font-size: 2.2rem;
    margin-bottom: 0.75em;
  }
  .link {
    font-size: 1.3rem;
  }
  .links-section {
    font-size: 1.3rem;
    display: grid;
    column-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }
  .link:not(:last-of-type) {
    margin-bottom: 0.8em;
  }
}
