* {
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir';
  src: url('../public/AvenirLTStd-Roman.otf');
}

@font-face {
  font-family: 'Avenir-light';
  src: url('../public/AvenirLTStd-Book.otf');
}

@font-face {
  font-family: 'Avenir-bold';
  src: url('../public/AvenirLTStd-Black.otf');
}
/* text input styles for career page */
.application-label{
  display: flex;
  flex-direction: column;
  color: #344054;
  margin-top: 20px;
}
.application-input::placeholder{
  color: #667085;
}